include README.md
include LICENSE*

recursive-include lexiredact *.py
recursive-include lexiredact *.typed

prune backend
prune benchmarks
prune data
prune dist
prune .tmp-build
prune lexiredact_data
prune venv

global-exclude *.py[cod]
global-exclude __pycache__
global-exclude *.so
exclude mlflow.db
exclude requirements-backend.txt
